.slick-prev,
.slick-next {
  font-size: 0;
  color: #080505;
  background-color: #fff;
}

.slick-prev:hover,
.slick-next:hover {
  color: #080505;
}

/* .slick-prev {
/* background: url('../../assets/reshot-icon-arrow-left-4NA6KJF8CU.svg') no-repeat center center;
fill: rgb(1, 1, 12); */

/* } */
*/

/* .slick-next{
    /* background: url('../../assets/reshot-icon-arrow-right-ZP2WDL9B8N.svg');
    
    background-color: white; */
/* } */
*/ .slick-prev:before,
.slick-next:before {
  color: #080505;
  /* font-size: 35px; */
  align-items: start;
}

.slick-slider .slick-track {
  margin: 0;
  /* Adjust the value to set the desired space between rows */
}

.slick-slide {
  height: auto !important;
  /* Set the height to auto to accommodate variable content */
}

.slick-prev {
  left: -30px;
}

.swiper-button-next::after {
  height: 60px;
  margin-right: 250px;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #080505;
  font-size: 1.95rem;
}

.slick-prev,
.slick-next {
  font-size: 0;
  color: #080505;
  background-color: #fff;
}

.slick-prev:hover,
.slick-next:hover {
  color: #080505;
}

.slick-prev:before,
.slick-next:before {
  color: #080505;
  /* font-size: 35px; */
  align-items: start;
}

.slick-slider .slick-track {
  margin: 0;
}

.slick-slide {
  height: auto !important;
}

.slick-prev {
  left: -80px;
  top: 260px;
}

/* .swiper-button-next::after{
    /* height: 48px; */
/* width: 150px; */
/* margin-right: 250px;
    align-items: center;
  } */

.slick-prev,
.slick-next {
  width: 48px;
  height: 48px;
}

.slick-next {
  margin-left: 50px;
  right: -30px;
  top: 260px;
}

@media only screen and (max-width: 1365px) {
  svg.slick-arrow.slick-next,
  svg.slick-arrow.slick-prev.slick-disabled {
    display: none !important;
  }
}
